.content {
  background-color: white;
  color: black;
  display: flex;
  gap: 20px;
}
.card {
  border-radius: 1rem;
  padding: 15px 10px 15px 15px;
  box-shadow: 1px 1px 10px 1px gray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}
.dot {
  height: 4px;
  width: 4px;
  aspect-ratio: 1/1;
  background-color: black;
  border-radius: 100%;
}

.threedots {
  width: 30px;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  position: relative;
}
.menu {
  position: absolute;
  background-color: white;
  border: 1px solid #d9d9d9;
  top: 40px;
  right: 30px;
  z-index: 6;
  font-size: smaller;
  border-radius: 10px;
}
option {
  padding: 5px 10px;
  cursor: pointer;
}

option:hover {
  background-color: #d9d9d9;
}

hr {
  margin: 0;
}